html {
    font-size: 62.5%;

    font-family: Arial, "Times New Roman", Times, serif;
}

body {
    margin: 0;
    min-width: 93.5rem;
}

a, p, div.img{
    color: #b5b5b5;
    text-decoration: none;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
}


.first-section {
    display: flex;
    flex-direction: column;
    padding: 0 16rem 11rem 16rem;
    background-color: #1f2937;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.logo, h1 {
    color: #F9FAF8;
}

.logo {
    font-size: 2.4rem;
}

.header ul.menu {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.first-section > .container {
    display: flex;
    margin-top: 9rem;
    gap: 3rem;
}

.first-section .container > * {
    flex: 1;
}

.header-content h1 {
    font-size: 4.8rem;
    font-weight: 900;
    margin: 0;
}

.header-content p {
    margin-bottom: 1rem;
}

.header-content > button {
    padding: 0.4rem 2.4rem;
    border-radius: 0.6rem;
    background-color: #3882F6;
    border-style: none;
    color: #F9FAF8;
    font-weight: bold;
}


div.img {
    background-color: #646c76;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section {
    display: flex;
    flex-direction: column;
    padding: 0 16rem 11rem 16rem;
}

.second-title {
    font-weight: 800;
    font-size: 2.4rem;
    text-align: center;
    padding: 3.5rem 0;
}

.second-section .container {
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.second-section .card {
    flex-basis: 13rem;
    text-align: center;
    color: #8c8c8c;
    font-size: 1.8rem;
    min-width: 13rem;

}

.card .square {
    min-height: 13rem;
    border: 0.3rem solid #3882F6;   
    border-radius: 1.5rem; 
    margin-bottom: 1rem;
}

.third-section {
    background-color: #E5E7EB;
    padding: 11rem 20%;
}

.third-section p {
    font-size: 2.4rem;
    font-style: italic;
    font-weight:lighter;
    color: #64676a;
}

.third-section div {
    font-size: 2rem;
    font-weight: bold;
    text-align: end;
    padding: 1rem 1rem 0 0;
}

.fourth-section {
    padding: 8rem 16%;
}

.fourth-section .container {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 4rem 10rem;
    border-radius: 0.8rem;
    align-items: center;
    gap: 2rem;
}

.fourth-section h2 {
    font-size: 2.4rem;
    color: #F9FAF8;
    margin: 0;
}

.fourth-section p {
    color: #dadada;
    font-size: 1.8rem;
}

.fourth-section .sign-up {
    background-color: #3882F6;
    border: 0.2rem solid #F9FAF8;
    padding: 0.5rem 3rem;
    border-radius: 0.6rem;
    color: #F9FAF8;
    font-size: 1.8rem;
    font-weight: bold;
}

footer {
    background-color: #1f2937;
    min-height: 10rem;
    color: #F9FAF8;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

